# want vi to be the default editor for readline
set editing-mode vi

# vi settings
$if mode=vi
    # normal mode
    set keymap vi-command
    "j": beginning-of-history
    "h": backward-char
    "l": forward-char
    "G": end-of-history
    # insert mode
    set keymap vi-insert
    "jk": vi-movement-mode # remap escape
$endif
